* {
  padding: 0;
  margin: 0;
}
h1 {
  color: red;
  background-color: aquamarine;
}

.container {
  margin: 40px;
  border: 1px solid black;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.text {
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.text-2 {
  margin-top: 20px;
}

.text-3 {
  margin-top: 50px;
}


p {
  display: inline-block;
}

button {
  display: block;
}